/* ***General*** */
:root{
    font-family: "Comic Sans MS", "Comic Sans",sans-serif;
    --color1:#63a098;
    --color2:#7b887c;
    --color3:#f3d72f;
    --color4:#201915;
    --color5:#fefdfd;
    --color6:#c3563b;
    --color7:#7e7e7e;
    --border-radius:50px;
    --border-template:10px solid;
}
body{
    display:flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: var(--color2);
}
/* ***Header*** */
header{
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    border: var(--border-template) var(--color2);
    border-radius: var(--border-radius);
    background-image: url("../design1_image1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    gap: 70px;
}

#company-name{
    margin-top: -5px;
    color: var(--color3);
    text-shadow: 5px 5px var(--color4);
    font-size: 4rem;
}
.logo-title-container{
    display: flex;
    flex-direction: row;
    background-color: var(--color4);
    color: var(--color5);
    border-radius:0 0 40px 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#logo{
    padding-right: 2rem;
    flex-grow: 0;
    margin-top: -5rem;
    width: 10%;
}
#title{
    flex-grow: 4;
}

/* ***NavBar*** */
main{
    margin:0;
    display: flex;
    flex-direction: row;
}
nav{
    display: flex;
    flex-direction: column;
    width:30%;
    height: auto;
}
.navbutton{
    width: 70%;
}
.selected{
    opacity: 0.5;
    cursor:not-allowed;
    background-color: var(--color4);
    color: var(--color5);
}
div.button{
    padding: 1rem 1rem;
    width: 70%;
    background-color: var(--color2);
    transition: 0.3s;
    border: none;
    font-weight: 300;
    color: var(--color5);
}
a,a:active,a:visited{
  color: var(--color5);  
  text-decoration: none;
  padding:1rem 2rem;
}
.link:hover{
    width: 90%;
    background-color: var(--color1);
}
/* ***Main content*** */
div.section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    margin-right: 5%;
}

.idented{
    padding:0 0 0 20px;
    margin-top: -15px;
}
h3{
    font-size: 1.2em;
}
h5{
    font-size: 1.2em;
    font-weight: 100;
}
p{
    font-size: 0.8em;
}
.text-container{
    font-size: 1.5rem;
    font-weight: 700;
    background-color: var(--color3);
    box-shadow: 0 4px 8px 0 var(--color4);
    margin-bottom: 25px;
    background-color: var(--color3);
    border: var(--border-template) var(--color3);
    color:var(--color6);
    width: 50%;
    display: flex;
    flex-direction: column;
}

article{
    max-height: 15rem;
    width: 25%;
    color: var(--color6);
    background-color: var(--color3);
    box-shadow: 0 4px 8px 0 var(--color4);
    border: var(--border-template) var(--color3);
    border-radius: var(--border-radius);
}
/* ***card*** */
.card-image{
    width: 100%;
    height: 60%;
    border-radius: 40px 40px 0 0;
}
.card-container{
    text-align: center;
    padding: 10px 20px;
}
/* ***slide *** */
.slide-title{
    text-align: center;
}
.slide-image{
    margin-top: -10px;
    height: 70%;
    width: 100%;
    border-radius:40px;
}
.slide-overlay{
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    z-index: 3;
    background-color: var(--color3);
    border-radius: 40px;
}
.slide-container:hover .slide-overlay {
    height: 75%;
    transform: translateY(-100%);
  }
.slide-text{
    color: var(--color6);
    font-size: 0.7rem;
}
/* ***rules*** */
.alpha-list{
    list-style-type: lower-alpha;
}
.text-title{
    width: 100%;
    text-align: center;
    background-color: var(--color6);
    color: var(--color3);
}
li b{
    text-decoration:underline;
}
.text-small{
    font-size: 1.2rem;
    font-weight: 100;
}
.inline-paragraphs{
    display: flex;
    justify-content: space-between;
}
/* ***TABLE*** */
table{
    color: var(--color4);
    border: 2px solid var(--color4);
    border-collapse: collapse;
    
}
table, td, th{
    border: 1px solid var(--color4);
    
}
tr{
    background-color: var(--color5);
}
th{
    background-color: var(--color4);
    color: var(--color5);
}
tr:nth-child(even){
    background-color:var(--color7);
}
/* ***Registration Form*** */
form{
    display: flex;
    flex-direction: column;
}
label, input{
    font-size: 1rem;
}
figure{
    border: 1px solid var(--color4);
}
/* ***Maps*** */
div.map-container{
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: space-between;
}
div.map-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: space-around;
    
}
div.map-section h3{
    color: var(--color3);
    font-size: 1.2rem;
}
div.map-container{
    background-color: var(--color6);    
    padding: 1%;
    margin-bottom: 5%;
    box-shadow: 0 4px 8px 0 var(--color4);
}
#map-icon{
    width: 1em;
}
td.location{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
